[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
aiofiles = "*"
jinja2 = "*"
babel = "*"
itsdangerous = "==2.0.0rc2"
python-multipart = "*"
email-validator = "*"
pip = "*"
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
sqlalchemy-utils = "*"

[dev-packages]
poeditor = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
test="pytest"
dev_server="uvicorn web.main:app --reload"
dl_po="python script/download_po.py"
