[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
aiofiles = "*"
jinja2 = "*"
babel = "*"
itsdangerous = "==2.0.0rc2"
python-multipart = "*"

[dev-packages]
poeditor = "*"
pytest = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
