[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
aiofiles = "*"
jinja2 = "*"
babel = "*"

[dev-packages]

[requires]
python_version = "3.7"
