<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', path='/css/tailwind.css') }}" />
        <title> </title>
    </head>
    <body class="min-h-screen grid grid-cols-1 grid-rows-1 bg-gray-200">
        <header class="flex justify-center items-center">
            <div class="header-box theme-python">
                <h1>{{ _("Simple Member System Implementation") }}</h1>
                <p>by Python</p>
                <div class="cotainer">
                    <!---->
                    {% from 'macros/form.html' import form, form_input with context %}
                    <!---->
                    {% if endpoint_name == "root" %}
                    <a class="btn green" href="{{ url_for('sign_in') }}">{{ _("Sign in") }}</a>
                    <a class="btn blue" href="{{ url_for('sign_up') }}">{{ _("Sign up") }}</a>
                    {% elif endpoint_name == "sign_up" %}
                    <div class="redirect-reason">
                        {% if redirect_reason %}
                        <p>{{redirect_reason}}</p>
                        {% endif %}
                    </div>
                    <h2>{{ _("Sign up") }}</h2>
                    {% call form('api.user.form.sign_up') %}
                    <!---->
                    {{ form_input('user_id', validation=true, constraint=constraints.user_id) }}
                    <!---->
                    {{ form_input('email', validation=true) }}
                    <!---->
                    {{ form_input('password', validation=true, constraint=constraints.password) }}
                    <!---->
                    {{ form_input('password_confirm', validation=true, constraint=constraints.password) }}
                    <!---->
                    {% endcall %}
                    <a class="btn blue" href="{{ url_for('root') }}">{{ _("Home") }}</a>
                    {% elif endpoint_name == "sign_in" %}
                    <div class="redirect-reason">
                        {% if redirect_reason %}
                        <p>{{redirect_reason}}</p>
                        {% endif %}
                    </div>
                    <h2>{{ _("Sign in") }}</h2>
                    {% call form('api.user.form.sign_in') %}
                    <!---->
                    {{ form_input('email') }} {{ form_input('password') }}
                    <!---->
                    {% endcall %}
                    <a class="btn blue" href="{{ url_for('root') }}">{{ _("Home") }}</a>
                    {% endif %}
                </div>
                <div class="cotainer">{% include 'statement.html' %}</div>
                <p><a href="{{ url_for('swagger_ui_html') }}">{{ _("API document") }}</a></p>
                <p>Source code on <a href="https://github.com/ShenTengTu/py_sms_impl">GitHub</a></p>
            </div>
        </header>
        {% if endpoint_name == "sign_up" %}
        <script>
            (() => {
                function input_listener(event) {
                    el = event.target;
                    el.setCustomValidity("");
                    if (el.name == "password_confirm" && el.form.password.value != el.value) {
                        el.setCustomValidity(el.dataset.patternMismatch);
                    }
                    el.checkValidity();
                }

                function invalid_listener(event) {
                    el = event.target;
                    if (el.validity.patternMismatch) {
                        el.setCustomValidity(el.dataset.patternMismatch);
                    }
                }

                const form = document.getElementsByTagName("form")[0];

                form.elements.user_id.addEventListener("input", input_listener);
                form.elements.user_id.addEventListener("invalid", invalid_listener);
                form.elements.password.addEventListener("input", input_listener);
                form.elements.password.addEventListener("invalid", invalid_listener);
                form.elements.password_confirm.addEventListener("input", input_listener);
                form.elements.password_confirm.addEventListener("invalid", invalid_listener);
                form.elements.submit.addEventListener("mouseenter", () => form.reportValidity());
                form.elements.submit.addEventListener("focus", () => form.reportValidity());
            })();
        </script>
        {% endif %}
    </body>
</html>
